<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scoreviewer">
    <!-- BluetoothLe Required -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- Image Transfer take pic (optional) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Bluetooth Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />      <!-- Scanning: Needed for bluetooth scanning (FINE needed on Android 10) --> <!-- Controller: Client must have ACCESS_FINE_LOCATION permission to request PRIORITY_HIGH_ACCURACY location -->

    <!-- Downloads Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Barcode reading & Image Transfer -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Image Transfer -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- App -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArduinoBluetooth">
        <activity
            android:name="com.example.scoreviewer.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.scoreviewer.Controlling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.scoreviewer.Football"></activity>
        <activity android:name="com.example.scoreviewer.Kickball"></activity>
        <activity android:name="com.example.scoreviewer.Volleyball"></activity>
        <activity android:name="com.example.scoreviewer.Cornhole"></activity>

        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>